<html>
    <head>
        <script>
            window.bootstrapData = {{bootstrapData}};
        </script>
        <script src="js/lib.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>

    </body>
</html>